header {
  background-color: #3A4D39;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.head-text {
  color: #ECE3CE;
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 10px;
  border: 1px solid #ECE3CE;
  padding: 1vh;
  border-radius: 4px;
  transition: all 0.2s;
}

nav a {
  color: #ECE3CE;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: #d1c4b3;
}